
html {
    font-size: 10px;
    background: url(https://images.pexels.com/photos/1020317/pexels-photo-1020317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center;
    background-size: cover;
  }
  
body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


img {
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

  .buttons {
    display: flex;
    flex: 1;
    min-height: 100px;
    max-height: 200px;
    align-items: center;
    justify-content: center;
  }
  
.btn {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 2rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 120px;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }
.scoreBoard  {
    background: rgba(0,0,0,0.4);
    align-items: center; 
  
    margin: auto;
    margin-top: 50px;
    font-size: 1.5rem;
    color: white;
    padding: 1rem .5rem;

}
.scoreBoard ul {
   padding-bottom: 40px;
    
}
.clicking {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
